<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <system.webServer>

    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json"/>-->
    </staticContent>

    <!--
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*"/>
            </customHeaders>
        </httpProtocol>
        -->

    <!-- proxy AAR: http://www.iis.net/downloads/microsoft/application-request-routing -->
    <!--
		<rewrite>
			<rules>

				EXTERNO
				<rule name="Reverse Proxy FACECLA Externo" stopProcessing="true">
					<match url="^wsexterno/(.*)" />
					<action type="Rewrite" url="http://189.16.45.2/{R:1}" />
				</rule>

				INTERNO
				<rule name="Reverse Proxy FACECLA Interno" stopProcessing="true">
					<match url="^wsinterno/(.*)" />
					<action type="Rewrite" url="http://172.16.10.251/{R:1}" />
				</rule>

			</rules>
		</rewrite>
	-->

  </system.webServer>

  <!--
    <system.net>
        <defaultProxy>

            EXTERNO
            <proxy bypassonlocal="True" proxyaddress="http://189.16.45.2" usesystemdefault="True"/>

            INTERNO
            <proxy bypassonlocal="True" proxyaddress="http://172.16.10.251" usesystemdefault="True"/>

        </defaultProxy>
    </system.net>
	-->

</configuration>
