<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../img/logo.png" /></a>
    <a class="carousel-item" href="#two!"><img src="../img/logo.png" /></a>
    <a class="carousel-item" href="#three!"><img src="../img/logo.png" /></a>
</div>

<div class="row">
    <div class="input-field col s12">
        <div id="descricaoOferta">

        </div>
    </div>
</div>
<!--<div class="row">
    <div class="input-field col s12">
        <div id="qrcode">
            qrCode aqui
        </div>
    </div>
</div>-->
