<div class="carousel" align="center">
    <a class="carousel-item" href="#one!">
        <div id="divImagem">
            
        </div>
    </a>
</div>

<div class="row">
    <div class="input-field col s12">
        <div id="descricaoOferta">

        </div>
    </div>
</div>
<!--Caso decidirmos usar o qrCode nessa tela, podemos usar ele nessa div aqui-->
<!--<div class="row" align="center">
    <div class="input-field col s12">
        <div id="qrcode">
            qrCode aqui
        </div>
    </div>
</div>-->
