<!--Tela de teste para a criptografia MD5-->
<h3>Teste qrCode</h3>
<div class="row">
    <div class="input-field col s12">
        <input id="txtString" type="text" class="validate">
        <label for="txtString">Teste qrCode</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <div id="qrcode">
            <!--resultado aqui-->
        </div>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <button id="btGerar" class="btn waves-effect waves-light" type="submit" name="action">
            Gerar qrCode
        </button>
    </div>
</div>