<!--Anúncios meramente de exemplos por enquanto-->
<h3>Anúncios</h3>
<div class="row">
    <div class="col s12 m7">
        <div class="card small">
            <!-- Imagem do card, por enquanto vou deixar sem -->
            <div class="card-image">
                <img src="../img/semImagem.png">
                <span class="card-title">Título do anúncio</span>
            </div>
            <div class="card-content">
                <p>Somente hoje no calçadão de Campo Largo 4 pilhas por R$ 1,00</p>
            </div>
            <!--não sabemos quais vão ser as opções do usuário quando ver o anúncio,
                por enquanto deixei essas duas aqui-->
            <div class="card-action">
                <a href="#">Ver mais</a>
                <a href="#">Recusar</a>
            </div>
        </div>
        <div class="card small">
            <!-- Imagem do card, por enquanto vou deixar sem -->
            <div class="card-image">
                <img src="../img/semImagem.png">
                <span class="card-title">Título do anúncio 2</span>
            </div>
            <div class="card-content">
                <p>Pente para carecas apenas R$ 2,50!</p>
            </div>
            <!--não sabemos quais vão ser as opções do usuário quando ver o anúncio,
            por enquanto deixei essas duas aqui-->
            <div class="card-action">
                <a href="#">Ver mais</a>
                <a href="#">Recusar</a>
            </div>
        </div>
    </div>
</div>
