<div class="container">
    <div id="formLog">
        <div class="row">
            <h3 class="center">Olá!</h3>
            <h5 class="center">Nos diga o seu nome para começar a usar o Flashbuy</h5>
        </div>
        <form onsubmit="return false">
            <div class="input-field row">
                <input placeholder="Qual é o seu nome?" id="inputNome" type="text" class="validate">
                <label for="first_name"></label>
            </div>
            <div class="input-field center row">
                <button type="button" id="btNome" class="btn waves-effect waves-light">
                    Começar
                </button>
            </div>
        </form>
    </div>
</div>
