<div class="row" align="center">
    <div class="input-field col s12">
        <h5>Parabéns! você acabou de reservar a sua oferta!</h5>
    </div>
</div>
<div class="row" align="center">
    <div id="qrcode">
        <!--resultado aqui-->
    </div>
</div>

<div class="row" align="center">
    <div class="input-field col s12">
        <h6>Nos diga o que achou da sua compra</h6>
    </div>
    <div class="input-field col s12">        
        <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">thumb_down</i></button>
        <button class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">thumb_up</i></button>        
    </div>
</div>
